nav{
    background-color: rgb(12, 82, 138);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding: 0% 1%;
    height: 6vh;
    font-family:'Times New Roman', Times, serif;
}
.login-register{
    display:flex ;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding-top: 1%;
}
p{
    color:aliceblue;
    cursor: pointer;
}
#title{
    font-weight: 500;
    margin-top: 1%;
}
.dropdown-menu{
    background-color:rgb(12, 82, 138);
    /* background-color: rgba(12,82,138,0.1); */
}
button,button:hover,li{
    color: aliceblue;
}
.dropdown-menu{
    height: 54px;
    padding-left: 30%;
    border: none;
}
li>p{
    color: white;
}


