.container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100vw;
}
h3{
    text-align: center;
    width: 100%;
    color: rgb(4, 101, 191);
}
.patron-form{
    border: 2px solid steelblue;
    /* padding: 2% 2%; */
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(226, 242, 255);
    border-radius: 5%;
}
input,select{
    width: 70%;
    border:none;
    border-radius: 5px 0px 0px 5px;
    font-weight: lighter;
    padding-left: 2%;
}
select{
    height: 7%;
    border-radius: 5px;
}
.error{
    background-color: rgb(255, 0, 0 ,0.4);
    padding: 0% 1%;
    width: 70%;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 70%;
}