<div class="container">
    <form #registrationForm="ngForm" class="registration-form" (ngSubmit)="onRegister()">
        <p>{{message}}</p>
        <h3>Registration</h3>
        <select name="role" id="role" class="form-control" [(ngModel)]="user.role" #role="ngModel">
            <option value="patron">Patron</option>
            <option value="librarian">Librarian</option>
        </select>
        <input type="text" name="name" placeholder="Name" required [(ngModel)]="user.name" #name="ngModel">
        <p *ngIf="name.invalid && name.dirty" class="error">Name is Required</p>
        <input type="text" name="email" placeholder="Email" required [(ngModel)]="user.email" #email="ngModel">
        <p *ngIf="email.invalid && email.dirty" class="error">Email is Required</p>
        <input type="text" name="mobile" placeholder="Mobile Number" required [(ngModel)]="user.mobile" #mobile="ngModel">
        <p *ngIf="mobile.invalid && mobile.dirty" class="error">Mobile Number is Required</p>
        <input type="password" name="password" placeholder="Password" required [(ngModel)]="user.password" #password="ngModel" (input)="passwordValidate(password.value)">
        <p *ngIf="password.invalid && password.dirty && !passwordError" class="error">Password is Required</p>
        <p *ngIf="passwordError.length" class="error">{{passwordError}}</p>
        <input type="date" name="dob" required [(ngModel)]="user.dob" #dob="ngModel">
        <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Register</button>
        <p>Already had an Account ? <a routerLink="/login">Login</a></p>
    </form>
</div>