.results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 2% 2%;
  row-gap: 20px;
  column-gap: 5%;
}
.house{
  width: 30%;
  height: 30%;
}
input[type="text"] {
  border: 1px solid rgb(0, 153, 255);
  padding: 10px;
  margin-right: 4px;
  border-radius: 10px;
  display: inline-block;
  height: 10%;
  width: 30%;
  margin-left: 20px;
}
@media (min-width: 500px) and (max-width: 768px) {
  .house{
    width: 100%;
  }
  input[type="text"] {
    width: 70%;
  }
}
@media (min-width:769px) and (max-width:1439px){
  .house{
    width: 45%;
  }
}
@media (max-width: 499px) {
  .house{
    width: 100%;
    aspect-ratio: 1/1;
  }
}
