.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns:repeat(auto-fill,minmax(400px,430px));
  margin-top: 50px;
  justify-content: space-around;
}
input[type="text"] {
  border: 1px solid blue;
  padding: 10px;
  margin-right: 4px;
  border-radius: 10px;
  display: inline-block;
  height: 10%;
  width: 30%;
  margin-left: 20px;
}
@media (min-width: 500px) and (max-width: 768px) {
  .results{
        grid-template-columns : repeat(2,1fr)
    }
  input[type="text"] {
    width: 70%;
  }
}
@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}
