<article>
    <a routerLink="/">Go Back</a>

    <img class="listing-photo" [src]="housingLocation?.photo" alt="House"/>
    <section class="listing-description">
        <h2 class="lisitng-heading">{{housingLocation?.name}}</h2>
        <p class="listing-location">{{housingLocation?.city}}, {{housingLocation?.state}}</p>
    </section>
    <section class="listing-features">
        <h2 class="section-heading">About this housing location</h2>
        <ul>
            <li>Units Available : {{housingLocation?.availableUnits}}</li>
            <li>Does this Location has Wifi: {{housingLocation?.wifi ? "Yes" : "No"}}</li>
            <li>Does this Location has Laundry : {{housingLocation?.laundry ? "Yes" : "No"}}</li>
        </ul>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Apply now to live here</h2>
        <form  (submit)="submitApplication()">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name"  [(ngModel)] = "applyForm.firstName" #firstName>
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" [(ngModel)] = "applyForm.lastName">
            <label for="email">Email</label>
            <input type="text" id="email" [(ngModel)] = "applyForm.email">
            <button type="submit" class="btn btn-primary">Apply Now</button>
        </form>
    </section>
</article>
