.table{
    text-align: center;
}
#action{
    display: flex;
    justify-content: space-around;
}
button{
    border: 1px solid rgb(12, 82, 138);
    border-radius: 30px;
    width: 40px;
}
.even{
    background-color: rgb(238, 238, 238);
}
.odd{
    background-color:white
}
td,th{
    padding: 1%;
}
.rejected{
    color: rgb(176, 5, 5);
}
.not-rejected{
    color: rgb(0, 97, 139);
}
